.app-nav {
  background-color: var(--pf-t--global--background--color--floating--default);
  border-bottom: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--global--border--color--default);

  &__title {
    color: var(--pf-t--global--text--color--on-dark);
    font-size: var(--pf-t--global--font--size--heading--h3);
    font-weight: var(--pf-t--global--font--weight--bold);
    margin: 0;
  }
}

// Pixel breakpoints for migration testing
@media (max-width: 767px) {
  .app-nav {
    &__title {
      font-size: var(--pf-t--global--font--size--heading--h4);
    }
  }
}
