.app-nav {
  background-color: var(--pf-t--global--background--color--surface--dark);
  border-bottom: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--global--border--color--default);

  &__title {
    color: var(--pf-t--global--Color--light-100);
    font-size: var(--pf-t--global--font--size--heading--md);
    font-weight: var(--pf-t--global--font--weight--body--bold);
    margin: 0;
  }
}

// Pixel breakpoints for migration testing
@media (max-width: 767px) {
  .app-nav {
    &__title {
      font-size: var(--pf-t--global--font--size--body--lg);
    }
  }
}
