.delete-modal {
  &__header {
    padding: var(--pf-t--global--spacer--md);
    border-bottom: var(--pf-t--global--border--width--regular) solid
      var(--pf-t--global--border--color--default);
  }

  &__body {
    padding: var(--pf-t--global--spacer--md);
  }

  &__footer {
    padding: var(--pf-t--global--spacer--md);
    border-top: var(--pf-t--global--border--width--regular) solid
      var(--pf-t--global--border--color--default);
    display: flex;
    gap: var(--pf-t--global--spacer--sm);
  }
}
