.delete-modal {
  &__header {
    padding: var(--pf-v6-global--spacer--md);
    border-bottom: var(--pf-v6-global--BorderWidth--sm) solid
      var(--pf-v6-global--BorderColor--100);
  }

  &__body {
    padding: var(--pf-v6-global--spacer--md);
  }

  &__footer {
    padding: var(--pf-v6-global--spacer--md);
    border-top: var(--pf-v6-global--BorderWidth--sm) solid
      var(--pf-v6-global--BorderColor--100);
    display: flex;
    gap: var(--pf-v6-global--spacer--sm);
  }
}
